.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.textTitle {
  font-size: 45px;
  font-family: dosis, sans-serif;
  color: #999a9a;
  margin: 15px;
  letter-spacing: 1.5px;
}

.textSubtitle {
  font-size: 45px;
  font-family: dosis, sans-serif;
  color: #999a9a;
  margin: 15px;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
  align-items: center;
}

.businessImgContainer {
  position: relative;
  display: flex;
}

.businessImg {
  width: 75vw;
  margin-bottom: 40;
}

.overLayF {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -1px;
  width: 100%;
}

.overLayFImg {
  border-radius: 5px;
  width: 50%;
  margin-bottom: -3px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  width: 75%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 350px;
  margin: 15px;
}

.cardImage {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

.cardTitle {
  font-size: 25px;
  font-family: dosis, sans-serif;
  color: #002554;
}

.cardSubtitle {
  font-size: 15px;
  font-family: Merriweather, serif;
  color: #999a9a;
  letter-spacing: 2px;
  line-height: 1.5;
}

.cardLinkContainer {
  position: relative;
}

.buttonStyle {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 4px 8px;
  background: rgba(0, 37, 84, 0.7);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: dosis, sans-serif;
  transition: background-color 0.3s ease;
}

.linkStyle {
  text-decoration: none;
  color: #002554;
  font-size: 20px;
  font-weight: 500;
  font-family: dosis, sans-serif;
}

@media only screen and (max-width: 820px) {
  .cardContainer {
    width: 85%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .textTitle {
    display: none;
  }
  .textSubtitle {
    display: none;
  }
  .card {
    width: 500px;
  }
}
@media only screen and (max-width: 1024px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .cardContainer {
    width: 85%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;

  }
  .textTitle {
    align-items: center;
    justify-content: center;
  }
  .textSubtitle {
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 300px;
    align-items: center;
    justify-content: center;
  }
}
