.bodyAbout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.titleAbout {
  font-weight: bold;
  font-family: "dosis", sans-serif;
  color: #002554;
  font-size: 57px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 20px;
}

.subtitleAbout {
  font-size: 20px;
  cursor: pointer;
  font-family: "merriweather", sans-serif;
  color: #999a9a;
  max-width: 600px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.spanContainerAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 75%;
  margin-bottom: 20px;
}

.cardContainerAbout {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 75%;
  gap: 20px;
}

.cardAbout {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-bottom: 250px;
  height: 300px;
}

.cardAbout1 {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-bottom: 250px;
  height: 300px;
}

.cardTitleAbout {
  font-size: 25px;
  font-family: "dosis", sans-serif;
  color: #002554;
}

.cardTitleAbout1 {
  font-size: 25px;
  font-family: "dosis", sans-serif;
  color: #002554;
}

.policyTitleAbout {
  font-size: 15px;
  font-family: "merriweather", sans-serif;
  margin-bottom: 10px;
}

.cardSubtitleAbout {
  font-size: 15px;
  font-family: "merriweather", sans-serif;
  color: #999a9a;
  letter-spacing: 2px;
}

.linkStyleAbout {
  text-decoration: none;
  color: #002554;
  font-size: 20px;
  font-weight: 500;
  font-family: "dosis", sans-serif;
}

/* Media queries för iPads och iPhones */
@media only screen and (max-width: 1024px) {
  .titleAbout {
    font-size: 40px;
    margin: 0 25px 25px 25px;
  }

  .subtitleAbout {
    font-size: 20px;
    max-width: 350px;
    margin-bottom: 25px;
  }

  .spanContainerAbout {
    padding: 10px;
    width: 85%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  .cardContainerAbout {
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cardAbout {
    width: 85%;
    margin-bottom: 100px;
  }

  .cardAbout1 {
    width: 85%;
    margin-bottom: 100px;
    margin-top: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .titleAbout {
    font-size: 32px;
    margin: 0 25px 25px 25px;
  }

  .subtitleAbout {
    font-size: 20px;
    max-width: 350px;
    margin-bottom: 25px;
  }

  .spanContainerAbout {
    padding: 8px;
    width: 85%;
    margin-bottom: 5px;
  }

  .cardContainerAbout {
    width: 95%;
  }

  .cardAbout {
    width: 85%;
    margin-bottom: 50px;
  }

  .cardAbout1 {
    width: 85%;
    margin-bottom: 50px;
    margin-top: 150px;
  }
}

@media only screen and (max-width: 576px) {
  .titleAbout {
    font-size: 28px;
    margin: 25px 25px 25px 0px;
  }

  .subtitleAbout {
    font-size: 20px;
    max-width: 300px;
    margin-bottom: 25px;
  }

  .spanContainerAbout {
    padding: 5px;
    width: 100%;
    margin-bottom: 0;
  }

  .cardContainerAbout {
    width: 100%;
  }

  .cardTitleAbout1 {
    font-size: 25px;
    font-family: "dosis", sans-serif;
    color: #002554;
    margin-left: 30px;
  }

  .cardAbout {
    width: 85%;
    margin-bottom: 25px;
  }

  .cardAbout1 {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 150px;
  }
}
