.bodyLJ {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.titleLJ {
  font-weight: bold;
  font-family: dosis, sans-serif;
  color: #002554;
  font-size: 57px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 20px;
}

.subtitleLJ {
  font-size: 20px;
  cursor: pointer;
  font-family: merriweather, sans-serif;
  color: #999a9a;
  max-width: 600px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.spanContainerLJ {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 75%;
  margin-bottom: 20px;
}

.cardContainerLJ {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 75%;
  gap: 20px;
}

.cardLJ {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-bottom: 10px;
  height: 300px;
}

.cardTitleLJ {
  font-size: 25px;
  font-family: dosis, sans-serif;
  color: #002554;
  margin-bottom: 20px;
  height: fit-content;
}
.cardTitleLJ1 {
  font-size: 25px;
  font-family: dosis, sans-serif;
  color: #002554;
  margin-bottom: 20px;
  height: fit-content;
}

.cardSubtitleLJ {
  font-size: 15px;
  font-family: merriweather, sans-serif;
  color: #999a9a;
  letter-spacing: 2px;
  height: fit-content;
}

.buttonLJ {
  background-color: #002554;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: dosis, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: transform 0.2s ease-in-out;
}

.linkStyleLJ {
  text-decoration: none;
  color: #002554;
  font-size: 20px;
  font-weight: 500;
  font-family: dosis, sans-serif;
}

@media screen and (max-width: 1400px) {
  .bodyLJ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;

  }
  .cardContainerLJ {
    width: 75%;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;

  }
  .titleLJ {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;

  }
  .cardLJ {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: fit-content;

  }
  .cardSubtitleLJ {
    font-size: 15px;
    font-family: merriweather, sans-serif;
    color: #999a9a;
    letter-spacing: 2px;
    height: fit-content;

  }

}