.style {
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin-top: 60px;
    position : relative;

  }
  
  .span {
    color: #999a9a;
  }

  .span1 {
    color: #999a9a;
  }
  
  .hzLine {
    width: 200px;
    height: 1px;
    background-color: #999a9a;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 1400px) {
    .hzLine {
      display: none;
    }
    .style {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 5px;
      margin-top: auto;
    }
    .span1 {
      display: none;
    }
}

